:root {
  --border-color: #3d444d;
}

body {
  margin: 0;
  color: #f0f6fc;
  background-color: #18191b;
  font-family: 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Segoe UI Emoji';
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  height: 100%;
}

header {
  height: 20px;
  padding: 10px 20px 10px 20px;
  border-bottom: 0.0625rem solid;
  border-color: var(--border-color);
}

a {
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.main-content {
  overflow-y: auto;
  flex-grow: 1;
  position: sticky;
  padding: 10px;
}

.main-content .breadcrumb {
  margin: 0px;
}

.main-content .markdown-body {
  padding: 20px;
  max-width: 100%;
  background-color: inherit;
}

.sidebar {
  width: 30%;
  min-width: 350px;
  overflow-y: auto;
  position: sticky;
  flex-grow: 1;
  border-right: 0.0625rem solid;
  border-color: var(--border-color);
  border-radius: 0;
  padding-bottom: 20px;
}

.sidebar ul {
  padding-left: 20px;
  list-style: none;
}

.file::before {
  content: '';
  color: #666;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" standalone="no"?><svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" width="16" height="16" fill="%23666"><path d="M2 1.75C2 .784 2.784 0 3.75 0h6.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v9.586A1.75 1.75 0 0 1 13.25 16h-9.5A1.75 1.75 0 0 1 2 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h9.5a.25.25 0 0 0 .25-.25V6h-2.75A1.75 1.75 0 0 1 9 4.25V1.5Zm6.75.062V4.25c0 .138.112.25.25.25h2.688l-.011-.013-2.914-2.914-.013-.011Z"></path></svg>');
}

@media print {
  .sidebar,  header, .breadcrumb {
    display: none !important;
  }
  .main-content, .markdown-body{
    overflow: visible
    ;
    width: auto !important;
    border: none !important;
  }
}