<!DOCTYPE html>
<html lang='en'>

<head>
    <link rel='icon'
        href='data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAZlX/ADOA/wAzVf8AfwB/ADOq/wD//wAA/wD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmYAAGZmAAAAEQAAEQAAAAA1AAAzAAAAABFmZiMAAAAAAHd3AAAAAAAAZmYAAAAAZgB3dwBmAAB3AGZmAHcAAAB3d3d3AAAAAAB3dwAAAAAAd3d3dwAAAHcAd3cAdwAAdwB3dwB3AAAAd0REdwAAAABEAABEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
        type='image/x-icon' />
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{title}}</title>
    {{styles}}
</head>

<body>
    <!-- <header>
        <span>Refresh</span> | <span>Shutdown</span> | <span>Admin</span>
    </header> -->
    <div class='container'>
        <div class='sidebar'>
            {{aside}}
        </div>
        <div class='main-content'>
            <h3 class='breadcrumb'>{{breadcrumb}}</h3>
            <div class='markdown-body'>
                {{markdown}}
            </div>
        </div>
    </div>
    {{scripts}}
</body>

</html>