<!DOCTYPE html>
<html lang='en'>

<head>
    <link rel='icon'
        href='data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAPv/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREREREREREREREAAAAAAAAREQAAAAAAABERABEREREAEREAEREREQAREQARAAARABERABEAABEAEREAEQAAEQAREQARAAARABERABEREREAEREAEREREQAREQAAAAAAABERAAAAAAAAEREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
        type='image/x-icon' />
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{title}}</title>
    {{styles}}
</head>

<body>
    <header>
        <search>
            <form name="Search" method="GET" action="/__ragd__search">
                <input id="q" type="search" name="q" placeholder="&#128270; search"/>
            </form>
        </search> | <a href="/__ragd__admin">Admin</a>
    </header>
    <div class='container'>
        <div class='sidebar'>
            {{aside}}
        </div>
        <div class='main-content'>
            <h3 class='breadcrumb'>{{breadcrumb}}</h3>
            <div class='markdown-body'>
                {{markdown}}
            </div>
        </div>
    </div>
    {{scripts}}
</body>

</html>